# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    #mailer_transport:  smtp
    #mailer_host:       127.0.0.1
    #mailer_user:       ~
    #mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    paypal_name: phillyon69p-facilator_api1.hotmail.fr
    paypal_password: DUEF2HNCYEM2QEFF
    paypal_signature: AFcWxV21C7fd0v3bYYYRCpSSRl31Azp.31wAULBQ53V7A5EjDc6EgpIL
    publish_key: pk_test_KOEyPiHvMJ3zAl2y7s0haIWw
    secret_key: sk_test_0Nqdb4uyYRJnriPbBHuD7iSN

    mailgun_key: ~