{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
	<p>
		Je viens de réserver ma place pour le musée du louvre.
		Allez sur le <a href="projetl.site-projet.fr">site</a> pour faire de même.
	</p>
{% endblock %}
